<% if pending_discipline?(discipline) %>
  <tr class="active">
<% else %>
  <tr>
<% end %>
  <td>
    <%= link_to discipline.title, discipline_path(discipline) %>
  </td>
  <td>
    <% if pending_discipline?(discipline) %>
      <%= finish_button(pending) %>
    <% elsif !pending? %>
      <%= start_button(discipline) %>
    <% end %>
  </td>
  <% 6.downto(0) do |n| %>
    <td>
      <%= @summary[discipline.title][n] %>
    </td>
  <% end %>
</tr>
