<tr>
  <td scope="row">
    <%= link_to discipline.title, discipline_path(discipline) %>
  </td>
  <% Discipline::RANGES.each do |range| %>
    <td>
      <%= discipline.time_spent(range) %>
    </td>
  <% end %>
</tr>
