<tr>
  <td scope="row">
    <span>
      <%= link_to discipline.title, discipline_path(discipline) %>
    </span>
    <span>
      <%= link_to 'Start', start_discipline_block_path(discipline),
        method: :post
      %>
    </span>
  </td>
  <td>
    <%= discipline.old %>
  </td>
  <% 6.downto(0) do |n| %>
    <td>
      <%= discipline.daily_time_spent(n.days.ago) %>
    </td>
  <% end %>
</tr>
