<% pending_block = Block.pending %>
<% pending = !pending_block.nil? %>
<% this_discipline = pending &&
      pending_block.discipline_id == discipline.id %>
<% if this_discipline %>
  <tr class="active">
<% else %>
  <tr>
<% end %>
  <td>
    <%= link_to discipline.title, discipline_path(discipline) %>
  </td>
  <td>
    <% if pending %>
      <% if this_discipline %>
        <%= finish_button(pending_block) %>
      <% end %>
    <% else %>
      <%= start_button(discipline) %>
    <% end %>
  </td>
  <% 6.downto(0) do |n| %>
    <td>
      <%= summary[n] %>
    </td>
  <% end %>
</tr>
