<h1>Disciplines</h1>

<div>
  <%= link_to 'New Discipline', new_discipline_path %>
</div>

<div>
  <%= link_to 'Clean', clean_path, method: :post %>
</div>

<table>

  <thead>
    <tr>
      <th scope="col">Discipline</th>
      <th scope="col">Today</th>
      <th scope="col">Yesterday</th>
      <th scope="col">Weekly</th>
      <th scope="col">Old</th>
    </tr>
  </thead>

  <tbody>

    <%= render @disciplines %>

    <tr>
      <td scope="row">
        All
      </td>
      <% Discipline::RANGES.each do |range| %>
        <td>
          <%= Discipline.time_spent(range) %>
        </td>
      <% end %>
    </tr>

  </tbody>

</table>
