<div class="page-header">
  <h1>New Discipline</h1>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <%= form_for @discipline do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
