<h1>New Discipline</h1>

<%= form_for :discipline, url: disciplines_path do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
