<div class="page-header">
  <h1>
    <%= @discipline.title %>
    <div class="pull-right">
      <%= link_to 'Start New Block',
              start_discipline_block_path(@discipline),
              method: :post,
              class: 'btn btn-large btn-success' %>

      <%= link_to 'Destroy Discipline',
              discipline_path(@discipline),
              method: :delete,
              class: 'btn btn-large btn-danger' %>
    </div>
  </h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
      <thead>
        <td>Time</td>
        <td>Date</td>
        <td>Duration</td>
      </thead>
      <%= render @blocks %>
    </table>
  </div>
</div>
