<% pending = Block.pending %>
<% if !pending.empty? %>
  <% Block.pending.each do |block| %>
    <%= link_to \
            finish_discipline_block_path(block.discipline_id, block.id),
            method: :post, class: 'btn btn-danger navbar-btn' do %> 
      Finish
      <span id="time" class="badge"><%= block.duration %></span>
    <% end %>
  <% end %>
<% end %>
