<% block = Block.pending %>
<% if !block.nil? %>
  <%= link_to finish_discipline_block_path(block.discipline, block),
      method: :post, class: 'btn btn-danger navbar-btn' do %> 
    Finish
    <span id="time" class="badge"><%= block.duration %></span>
  <% end %>
<% end %>
