// Place all the styles related to the disciplines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#summary {
  border: 1px solid black ;
  border-color: teal ;
  width: 100% ;

  th, td {
    background-color: purple ;
    color: white ;
    width: 10% ;
    height: 50px ;
    text-align: center ;
  }

  td span {
    padding: 10px ;
  }

  a {
    color: gold ;
  }
}

* {
  font-family: sans-serif ;
}

