#title_bar {
  width: 100% ;
  background-color: black ;
  color: white ;
}

#title {
  margin-left: 30px ;
  vertical-align: middle ;
  display: inline-block ;
}

#pending {
  float: right ;
  text-align: center ;
  display: inline-block ;
  vertical-align: middle ;
  background-color: black ;
  padding: 30px ;
}
