<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Effort', disciplines_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse">
      <%= render 'blocks/pending' %>
    </div>
  </div>
</nav>
